ChangePasswordService/ChangePasswords/Service References/PasswordServiceReference/Integration1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Integration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat-miforms.epharmasolutions.com/MiFormsIntegrationService/Integration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat-miforms.epharmasolutions.com/MiFormsIntegrationService/Integration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat-miforms.epharmasolutions.com/MiFormsIntegrationService/Integration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ePs.MicoFormIntegration.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetTokenString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenString" />
  </wsdl:message>
  <wsdl:message name="IService_GetTokenString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddFormTemplateToGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFormTemplateToGroup" />
  </wsdl:message>
  <wsdl:message name="IService_AddFormTemplateToGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFormTemplateToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetNewPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewPassword" />
  </wsdl:message>
  <wsdl:message name="IService_SetNewPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetTokenString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTokenString" message="tns:IService_GetTokenString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTokenStringResponse" message="tns:IService_GetTokenString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFormTemplateToGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddFormTemplateToGroup" message="tns:IService_AddFormTemplateToGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddFormTemplateToGroupResponse" message="tns:IService_AddFormTemplateToGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetNewPassword" message="tns:IService_SetNewPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetNewPasswordResponse" message="tns:IService_SetNewPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenString">
      <soap:operation soapAction="http://tempuri.org/IService/GetTokenString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFormTemplateToGroup">
      <soap:operation soapAction="http://tempuri.org/IService/AddFormTemplateToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewPassword">
      <soap:operation soapAction="http://tempuri.org/IService/SetNewPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Integration">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://uat-miforms.epharmasolutions.com/MiFormsIntegrationService/Integration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>